@charset "UTF-8";
body {
  margin: 0px;
}

.header {
  display: flex;
  width: 100%;
  height: 5rem;
  position: fixed;
  background-color: white;
}
.header__logo {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.header__logo--hamburger-button {
  width: 50px;
  height: 50px;
}
.header__logo--logo-button {
  display: flex;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}
.header__search {
  flex-grow: 2;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.header__search .search-form {
  display: flex;
  background-color: white;
  border: 1px solid #F2F2F2;
  border-radius: 45px;
  width: 55%;
}
.header__search .search-form__input {
  font-size: 16px;
  border: none;
  margin: 5px 10px;
  width: 80%;
}
.header__search .search-form__input:focus {
  outline: none;
}
.header__search .search-form__search--keyboard {
  margin: auto 10px;
}
.header__search .search-form__search--icon {
  width: 90px;
  background-color: #F2F2F2;
  border-radius: 0 45px 45px 0;
}
.header__search .search-form__search--icon:hover {
  background-color: #c9c5c5;
}
.header__search .search-form__search--icon .icon-image {
  display: block;
  margin: 10px auto;
}
.header__mic {
  margin-left: 10px;
  background-color: #F2F2F2;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.header__mic:hover {
  background-color: #c9c5c5;
}
.header__mic img {
  display: block;
  margin: 12px auto;
}
.header__user {
  display: flex;
  align-items: center;
}
.header__user .user-icon {
  width: 50px;
  height: 50px;
}
.header__user .user__camera:hover {
  background-color: #F2F2F2;
  border-radius: 50%;
}
.header__user .user__alarm:hover {
  background-color: #F2F2F2;
  border-radius: 50%;
}
.header__user .user__profile img {
  border-radius: 50%;
}
.header__user .user__profile:hover {
  background-color: #F2F2F2;
  border-radius: 50%;
}

.search-form__input:focus ~ .search-box {
  display: block;
}

.search-box {
  display: none;
  border: 1px solid #c9c5c5;
  border-radius: 10px;
  width: 34%;
  position: absolute;
  background-color: white;
  top: 65px;
  z-index: 777;
  padding: 5px;
}

.search-item:hover {
  background-color: #c9c5c5;
}

.yt-icons {
  width: 30px;
  height: 30px;
  margin: 10px auto;
  display: block;
}

#hamburger {
  width: 0px;
  height: 0px;
  padding: 0px;
  margin: 0px;
}

.on-off {
  width: 0px;
  height: 0px;
}

.hamburger__wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  top: 16px;
  left: 16px;
  cursor: pointer;
}
.hamburger__wrapper img {
  position: absolute;
  top: 8px;
  left: 8px;
}
.hamburger__wrapper:hover {
  background-color: #F2F2F2;
}

.mini-sidebar {
  text-align: center;
  margin-left: 20px;
  display: none;
  position: fixed;
  margin-top: 75px;
  top: 0;
  bottom: 0;
  overscroll-behavior: contain;
}
.mini-sidebar__item {
  margin-bottom: 10px;
}

#hamburger:checked ~ .sidebar {
  display: none;
}

#hamburger:checked ~ .mini-sidebar {
  display: block;
}

.sidebar::-webkit-scrollbar {
  width: 10px;
}

.sidebar-divide {
  border-top: 1px solid #F2F2F2;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
}

.menu-wrapper {
  height: 0;
}
.menu-wrapper .sidebar {
  display: inline-block;
  position: fixed;
  margin-top: 75px;
  padding-left: 10px;
  top: 0;
  bottom: 0;
  overscroll-behavior: contain;
  width: 240px;
  overflow-y: hidden;
}
.menu-wrapper .sidebar:hover {
  overflow-y: scroll;
}
.menu-wrapper .sidebar::-webkit-scrollbar-thumb {
  background-color: gray;
  /* 스크롤바의 색상 */
  border-radius: 10px;
}
.menu-wrapper .sidebar::-webkit-scrollbar-button {
  display: none;
}
.menu-wrapper .sidebar .active {
  width: 180px;
  height: 40px;
  background-color: #F2F2F2;
  border-radius: 10px;
}
.menu-wrapper .sidebar__title {
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}
.menu-wrapper .sidebar__item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 10px;
  width: 180px;
  height: 40px;
}
.menu-wrapper .sidebar__item span {
  margin-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu-wrapper .sidebar__item:hover {
  background-color: #F2F2F2;
  border-radius: 10px;
}

.top__tab-bar {
  display: flex;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 4rem;
  justify-content: center;
  z-index: -1;
}
.top__tab-bar .active button {
  background-color: black;
  color: white;
  pointer-events: none;
}
.top__tab-bar .tab-bar--button {
  margin-right: 10px;
}
.top__tab-bar .tab-bar--button button {
  padding: 8px 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.top__tab-bar .tab-bar--button button:hover {
  background-color: #a09e9e;
}

.contents-wrapper {
  margin-left: 260px;
  margin-top: 5rem;
}

.card-container {
  position: relative;
  padding-top: 4rem;
  z-index: -10;
}

.card {
  display: flex;
  flex-wrap: wrap;
}
.card .video {
  margin: 10px;
  flex-grow: 1;
  flex-shrink: 1;
}
.card .video__thumbnail {
  width: 100%;
}
.card .video__thumbnail img {
  border-radius: 10px;
  width: 100%;
  height: inherit;
}
.card .video__info {
  display: flex;
}
.card .video__info .channel {
  margin-left: 10px;
  width: 17rem;
}
.card .video__info .channel__icon {
  width: 40px;
  height: 40px;
}
.card .video__info .channel__icon img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
}
.card .video__info .channel__title {
  margin-bottom: 10px;
}

.shorts {
  display: flex;
  flex-direction: column;
  border-top: 2px solid #c9c5c5;
  border-bottom: 2px solid #c9c5c5;
  overflow: hidden;
  flex-wrap: nowrap;
}
.shorts__videos {
  display: flex;
  width: 100%;
}
.shorts__videos .video__thumbnail img {
  border-radius: 10px;
  height: 275px;
  width: 100%;
}

.shorts-video {
  margin: 10px;
}

.video {
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  width: 170px;
}

.shorts__header {
  display: flex;
  justify-content: space-between;
}
.shorts__header--title {
  display: flex;
}

/*# sourceMappingURL=index.css.map */
